.time {
  padding: 0 2rem 2rem 2rem;
  position: relative;
  text-align: center;
}

.time h3 {
  border-bottom: 4px solid;
  display: inline-block;
  font-size: 2rem;
  padding-bottom: .5rem;
}

.time .colaboradores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-cor {
  position: absolute;
  right: 50px;
  top: 20px;
}
